{% extends 'base_bio.html.twig' %}

{% block title %}Hello BioController!{% endblock %}

{% block body %}
<section class="section-un" style="background-image: none; text-align: left;">
        <h1 style="color: white; margin-left: 50px;">A propos de <br>Jupiter <br>Blackmore</h1>
        <p style=" font-size:22px; color: white; margin-top: 20px; margin-left: 50px; font-family: 'Alice', Arial, Helvetica, sans-serif; margin-bottom: 50px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto earum <br>sunt facilis voluptas harum, dicta enim ipsam cumque temporibus cum <br>sint libero deleniti non amet eaque voluptates ab voluptatum beatae! </p>
        <img src="{{asset('/assets/images/book.jpg')}}" alt="Livre">
    </section>
    <!--Section deux-->
    <section class="section-deux">
         <img src="{{asset('/assets/images/ketty.png')}}" alt="Jupiter Blackmore" id="jupiter">
         <img src="{{asset('/assets/images/team.png')}}" alt="Equipe" id="equipe">
         <div class="equip">
            <h2>L'équipe de Projet</h2>
            <p id="p-un">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat <br>eius porro culpa nisi deserunt cumque, nemo id possimus? <br>Nostrum pariatur libero, rerum voluptatibus repellendus delectus et dolorum <br>necessitatibus quibusdam perferendis!</p>
            <p id="p-deux">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae <br>corrupti veniam nisi ducimus nesciunt earum aliquid a sequi? <br>Voluptas nobis unde ad soluta. Blanditiis unde officiis quibusdam <br>repellat sed distinctio!"</p>
         </div>
         <div class="ketty">
            <img src="{{asset('/assets/images/woman.png')}}" alt="Jupiter Blackmore" id="img-ketty">
            <p id="p-trois">Jupiter Blackmore</p>
            <p id="p-quatre">"Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. Voluptate corporis eius sequi qui vel. <br>Maiores repellat deserunt repudiandae fuga, similique ipsa. <br>Consequatur dignissimos voluptate obcaecati in! Ipsam perspiciatis <br>eum ab?"</p>
         </div>
         <div class="illustratrice">
            <img src="{{asset('/assets/images/dessinatrice.jpg')}}" alt="Illustratrice" id="business">
            <p id="p-cinq">Illustratrice</p>
            <p id="p-six">"Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. Asperiores, harum labore dolores eius itaque <br>vitae sint explicabo rem consequatur tempore assumenda <br>quaerat voluptatibus omnis nulla soluta, in excepturi <br>cupiditate molestiae!"</p>
         </div>
    </section>
    <!--Section trois-->
    <section class="section-trois">
          <img src="{{asset('/assets/images/formulaire.jpg')}}" alt="Formulaire">
          <h2>Formulaire De Contact</h2>
          <div class="tableau-un">
            <form action="formulaire.php" method="post">
                <fieldset>
                    <legend id="legend-un">Vos Coordonnées et votre message</legend>
                    <table cellspacing="5">
                        <tr align="left">
                            <th id="nom">Nom*</th>
                            <td><input type="text" name="Name" size="20" maxlength="20" placeholder="Nom" id="Name"></td>
                        </tr>
                        <tr align="left">
                            <th id="prenom">Prénom*</th>
                            <td><input type="text" name="Prenom" size="20" maxlength="20" placeholder="Prénom" id="Prenom"></td>
                        </tr>
                        <tr align="left">
                            <th id="email">Email*</th>
                            <td><input type="text" name="Mail" size="20" maxlength="50" placeholder="Email" id="Mail"></td>
                        </tr>
                        <tr align="left">
                            <th id="phone">Téléphone*</th>
                            <td><input type="text" name="Phone" size="20" maxlength="20" placeholder="Téléphone" id="Phone"></td>
                        </tr>
                        <tr align="left">
                            <th id="message" style="font-family: Playfair Display; font-size: 20px; color: white;">Message*</th>
                            <td><textarea name="Message" cols="30" rows="10" placeholder="Votre message" id="Message"></textarea></td>
                        </tr>
                        <tr align="left">
                            <td><button type="submit" name="nom_champ" id="butn-un">Envoyer</button></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
          </div>
    </section>
{% endblock %}
