{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Contactez-nous</h1>
    {% for message in app.flashes('message') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}
    {{ form_start(form) }}
    <div class="form-group mt-2">
    {{ form_widget(form.Nom, { attr: { placeholder: "Nom :" } })  }}
    </div>
     <div class="form-group mt-2">
    {{ form_widget(form.Prenom, { attr: { placeholder: "Prenom :" } })  }}
    </div>
    <div class="form-group mt-2">
    {{ form_widget(form.Mail, { attr: { placeholder: "Email :" } }) }}
    </div>
    <div class="form-group mt-2">
    {{ form_widget(form.Message, { attr: { placeholder: "Message :" } }) }}
    </div>
    <button class="btn btn-primary mt-3" style="background-color: cadetblue; border: none; font-weight: bold; font-size: 13px; margin-bottom:50px">{{ button_label|default('Envoyer')}}</button>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
    {# <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Jupiter Blackmore_v2/Jupiter Blacmore_v2/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/Jupiter Blackmore_v2/Jupiter Blacmore_v2/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
    </ul> #}
</div>
{% endblock %}
